 
 
 
   <section id="{{ node.id }}" class="{{ background_colour }}">
    <div class="container px-6 py-16 mx-auto text-center">
        <div class="max-w-lg mx-auto">
            <h1 class="text-3xl font-semibold {{ heading_colour }} lg:text-4xl">
                {{ banner_heading|raw }}
            </h1>

            <p class="mt-6 {{ text_colour }}">
                {{ banner_text|raw }}
            </p>

            <div class="w-full max-w-sm mx-auto mt-6 bg-white border rounded-md dark:border-gray-700 focus-within:border-blue-400 focus-within:ring focus-within:ring-blue-300 dark:focus-within:border-blue-300 focus-within:ring-opacity-40">
                <form class="flex flex-col md:flex-row">
                    <input type="email" id="email-input" placeholder="Enter your email address" class="flex-1 h-10 px-4 py-2 m-1 text-gray-700 placeholder-gray-400 bg-transparent border-none appearance-none dark:text-gray-200 focus:outline-none focus:placeholder-transparent focus:ring-0" />

                    <button type="button" class="h-10 px-4 py-2 m-1 text-white transition-colors duration-300 transform bg-indigo-900 rounded-md hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                        Join Us
                    </button>
                </form>
            </div>
        </div>

        {% if trusted_by %}
        <div class="max-w-screen-xl mx-auto mt-20">

            <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
               {% for item in trusted_by %}
                
         
                <div class="flex items-center justify-center col-span-1 md:col-span-2 lg:col-span-1">
                    <!-- Add content for the grid item if needed -->
                    <img src="{{ item|file_url }}" style="width:60%;">
                </div>
                {# {% endfor %} #}
                      {% endfor %} 
            </div>
        </div>
        {% else %}
            <h2>No items</h2>
        {% endif %}
    </div>
    </section>