<section id="component-container-{{ paragraph.id.value }}" class="bg-gray-100 dark:bg-gray-900 py-10">
    <div class="container px-20 py-5 mx-auto">
        <a class="edit-button absolute right-32" data-component-id="{{ paragraph.id.value }}"><i class="fa-solid fa-pencil"></i></a>

        <h2 class="text-2xl font-normal text-gray-800 capitalize lg:text-4xl dark:text-white">{{ paragraph.field_section_title.value }}</h2>
            <p class="py-4">{{ paragraph.field_section_intro_text.value }}</p>
        </div>
         <div class="container mx-auto">


        <div class="lg:flex lg:items-center">
            
        {% set items = content|without('field_section_title', 'field_section_intro_text') %}

        {% for item in items  %}

            {{ item }}

        {% endfor %}


           

            <div class="hidden lg:flex lg:w-1/2 lg:justify-center">
                <img class="w-[28rem] h-[28rem] flex-shrink-0 object-cover xl:w-[34rem] xl:h-[34rem]" src="https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
            </div>
        </div>
    </div>
        <div class="container px-10 py-5 mx-auto">
      {% include "@dm_tw_sub/paragraphs/includes/meraki-ui-modal.html.twig" with {
        'paragraph_id': paragraph.id.value
        } 
      %}
 

    </div>
</section>