                {% if paragraph.field_item_colour_override %}
                {% set colour_override = paragraph.field_item_colour_override.value %}
                {% endif %}
                
                <div class="grid-list-item min-h-72 space-y-2 shadow-lg rounded-xl w-full py-7 p-4 {{ colour_override }}">
                  
                 
                    <span class="inline-block px-3 text-3xl">
                    <i class="{{ paragraph.field_icon.value }}"></i>
                    </span>

                    <h2 class="text-3xl px-2 font-normal">{{ paragraph.field_card_title.value }}</h2>

                    <p class="px-3 py-2">
                    {{ paragraph.field_card_body_text.value }}
                      </p>
                      <br>
                      {% set button = content.field_card_button|render|striptags %}
                      {% if button %}                      
                      <a class="p-3 mx-3 rounded-xl cursor-pointer w-50 text-white">
                     {{ button }} &nbsp;<i class="fa-solid fa-arrow-right-long "></i>
                     </a>
                     {% endif %}

      </div>