                {% if paragraph.field_item_colour_override %}
                {% set colour_override = paragraph.field_item_colour_override.value %}
                {% endif %}

            
            <div class="single-card space-y-3 w-full border-2 shadow-lg rounded-xl overflow-hidden {{ colour_override }}">

            {% if paragraph.field_card_image %}

            <div class="min-h-64 max-h-72 h-auto relative overflow-hidden">
            <div class="absolute inset-0 bg-gray-900/35">    
                </div>
            <img src="{{ paragraph.field_card_image|file_url }}" class="w-full" alt="">

            </div>
            {% endif %}
            <div class="px-8 py-4">

                <h2 class="text-3xl px-2 font-normal">{{ paragraph.field_card_title.value }}</h2>

                <p class="py-4 mx-3 min-h-32">
                    {{ paragraph.field_card_body_text.value }} 
                </p>

                <a href="{{ paragraph.field_card_button.url }}" class="{{ paragraph.field_button_style.value }} inline-flex rounded-xl text-md font-medium p-2 mx-3 capitalize transition-colors duration-300 transform rtl:-scale-x-100 dark:bg-indigo-500 dark:text-white hover:underline hover:text-indigo-600 dark:hover:text-indigo-500">
                       {{ paragraph.field_card_button.title }} &nbsp;<i class="fa-solid fa-arrow-right-long "></i>
                </a>
                </div>
      {% include "@dm_tw_sub/paragraphs/includes/meraki-ui-modal.html.twig" with {
        'paragraph_id': paragraph.id.value,
        'bundle': paragraph.field_section_title.value
        } 
      %}
            </div>

