
<section id="hero-fw-image"
  class="relative bg-center bg-no-repeat" style="background-image: url('{{ paragraph.field_hero_bg_full|file_url }}');background-size: 100%;height:80vh;">

  <div
    class="absolute inset-0 bg-gray-700/75 sm:bg-transparent sm:from-gray-900/95 sm:to-gray-900/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
  ></div>
  <a class="edit-button absolute right-32 p-2 z-auto bg-transparent" title="Edit hero content" data-component-id="{{ paragraph.id.value }}"><img src="/themes/custom/dm_tw_sub/assets/ui_icons/pen.png" alt=""></a>
  <div class="relative mx-auto max-w-screen-xl px-2 py-40 sm:px-6 lg:flex lg:h-fit lg:items-start lg:px-12">
 
    <div class="hero-text w-3/4 text-center bg-slate-900/45 sm:text-left py-8 px-12">
      <h1 class="text-3xl font-semibold sm:text-5xl py-3">
        {{ paragraph.field_banner_heading.value }}
      </h1>
    
 <span class="highlighted block text-3xl lg:text-5xl font-semibold py-3 px-3"> {{ paragraph.field_section_heading_bright.value }} </span>
      <p class="banner-text mt-4 max-w-lg sm:text-xl/relaxed">
   {{ content.field_banner_text_formatted }}
      </p>
      {% if paragraph.field_call_to_action is not empty %}
      <div class="mt-8 flex flex-wrap gap-4 text-center">
    <a href="{{ paragraph.field_call_to_action.url }}" class="block button w-full px-12 py-3 text-sm font-medium text-white shadow focus:outline-none focus:ring sm:w-auto">
         {{ paragraph.field_call_to_action.title }}
        </a>
      </div>
      {% endif %}
    </div>
  </div>
      {% include "@dm_tw_sub/paragraphs/includes/meraki-ui-modal.html.twig" with {
        'paragraph_id': paragraph.id.value,
        'bundle': 'Hyper UI Hero'
        } 
      %}
</section>