<section id="component-container-{{ paragraph.id.value }}" class="bg-white dark:bg-gray-900 py-12">
   <a class="edit-button absolute right-32" data-component-id="{{ paragraph.id.value }}"><i class="fa-solid fa-pencil"></i></a>
    <div class="cta-wrap container shadow-lg flex flex-col items-center px-4 py-12 mx-auto text-center">
        <h2 class="max-w-2xl mx-auto l text-2xl font-normal leading-8 text-gray-800 lg:text-4xl xl:text-4xl dark:text-white">
            {{ paragraph.field_section_title.value }} <br> <span class="highlighted font-medium">{{ paragraph.field_section_heading_bright.value }}</span>
        </h2>

        <p class="max-w-4xl mt-6 text-center text-gray-700 dark:text-gray-300">
            {{ paragraph.field_section_intro_text.value }}
        </p>

        <div class="inline-flex w-full mt-6 sm:w-auto">
            <a href="{{ paragraph.field_call_to_action.url}}" class="{{ paragraph.field_button_style.value }} inline-flex items-center justify-center w-full px-6 py-2 duration-300 bg-green-200 border rounded-lg hover:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                {{ paragraph.field_call_to_action.title }}
            </a>
        </div>
    </div>
            <div class="container px-10 py-5 mx-auto">
      {% include "@dm_tw_sub/paragraphs/includes/meraki-ui-modal.html.twig" with {
        'paragraph_id': paragraph.id.value
        } 
      %}
 

    </div>
</section>